<md-sidenav layout="column" layout-fill class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
  <!-- Sidebar -->
  <md-button class="md-raised md-primary" ng-click="changeState('home')">Home</md-button>
  <div append-source>
    <form class="form-inline" role="form" layout="row" layout-align="center" ng-submit="search(selectedArtist)">
      <div class="form-group">
        <input type="text" class="form-control typeahead" ng-model="selectedArtist" bs-options="artist for artist in artists" placeholder="Search by Artist" bs-typeahead>
        <input type="submit" class="hiddenSubmit"/>
      </div>
    </form>
  </div>
  <div flex layout-align="end center" layout="column">
    <md-button class="md-raised md-primary" ng-show="user==='0'" ng-click="changeState('login')" >Artist Login</md-button>
    <md-button class="md-raised md-primary" ng-show="user==='0'" ng-click="changeState('signup')" >Artist Sign Up</md-button>
    <md-button class="md-raised md-primary" ng-show="user!=='0' && !currentShow" ng-click="startNow()">Start Show</md-button>
    <md-button class="md-raised md-primary" ng-show="user!=='0' && currentShow" ng-click="cancelShow()">Cancel Show</md-button>
    <md-button class="md-raised md-primary" ng-show="user!=='0'" ng-click="changeState('add')">Add Show</md-button>
    <md-button class="md-raised md-primary" ng-show="user!=='0'" ng-click="changeState('edit')">Profile</md-button>
    <md-button class="md-raised md-accent" ng-show="user!=='0'" href='/logout'>Logout</md-button> 
  </div>
</md-sidenav>
