/*body {
  background-color: #424242;
}
h1 {
  color: #ffffff;
  
}
md-icon {
  background-color: #ffffff;
}
*/

.error { 
  background: red; 
  color: white; 
}
.success { 
  background: green; 
  color: white; 
}
/* style the dropdown items */
.dropdown-menu .active > a {
  font-size: 110%;
  background-color: #3F51B5;
}

.typeahead:focus {
  border: 2px solid #3F51B5;
}

.textColor {
  color: #EFEFEF;
}
/*.typeahead {
  width: 300px;
  height: 36px;
  padding: 8px 12px;
  font-size: 16px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}*/
/*.typeahead:focus {
  border: 2px solid #3F51B5;
}
.tt-hint {
  color: #999
}
.tt-menu {
  width: 400px;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}
/*mouse hover*/
/*.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #3F51B5;
}*/
/*keyboard hover*/
/*.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #3F51B5;

}*/
.hiddenSubmit {
  visibility: hidden; 
  position: absolute;
}