<md-input-container class="md-primary">
  <label>Name</label>
  <input ng-model="editCtrl.name" type="text"> <!-- ng-model="user.name"> -->
</md-input-container>
<md-input-container class="md-primary">
  <label>description</label>
  <input ng-model="editCtrl.description" type="text"> <!-- ng-model="user.name"> -->
</md-input-container>
<md-input-container class="md-primary">
  <label>Email</label>
  <input ng-model="editCtrl.email" type="email"> <!-- ng-model="user.name"> -->
</md-input-container>
<md-input-container class="md-primary">
  <label>passsword</label>
  <input ng-model="editCtrl.pass" type="password"> <!-- ng-model="user.name"> -->
</md-input-container>
<md-input-container class="md-primary">
  <label>Url</label>
  <input ng-model="editCtrl.url" type="text"> <!-- ng-model="user.name"> -->
</md-input-container>
<md-input-container class="md-primary">
  <label>Image</label>
  <!-- <canvas id="showImage"></canvas> -->
  <script type="text/javascript">
  function addToCanvas() {
    //Added preview to image upload
    //var canvas = document.getElementById('showImage');
    var fr = new FileReader();
    fr.onload = function() {
      // var baseImage = new Image();
      // baseImage.onload = function() {
      //   canvas.getContext("2d").drawImage(baseImage,0,0, 50,150);
      // }
      //baseImage.src = fr.result;
      window.image = fr.result;
    }
    fr.readAsDataURL(document.getElementById('photo').files[0]);
  }
  </script>
  <input id='photo' onchange="addToCanvas()" ng-model="editCtrl.image" type="file"> <!-- ng-model="user.name"> -->

</md-input-container>
<div flex layout-align="end center" layout="column">
  <md-button ng-click="editCtrl.save()">Save</md-button>
  <md-button ng-click="editCtrl.save()">Add Show</md-button>
</div>