<md-input-container class="md-primary">
  <label>Email</label>
  <input ng-model="loginCtrl.email" type="email"> <!-- ng-model="user.name"> -->
</md-input-container>
<md-input-container class="md-primary">
  <label>Password</label>
  <input ng-model="loginCtrl.pass" type="password"> <!-- ng-model="user.name"> -->
</md-input-container>
<div ng-show="!loginCtrl.formValid">Invalid form</div>
<div flex layout-align="end center" layout="column">
  <md-button ng-click="loginCtrl.login()">Login</md-button>
</div>