<md-input-container class="md-primary">
  <label style="color:white">Venue Name</label>
  <input ng-model="addCtrl.venue" type="test"> <!-- ng-model="user.name"> -->
</md-input-container>

<md-input-container class="md-primary">
  <label style="color:white">Lat</label>
  <input style="color:white" ng-model="addCtrl.lat" type="text"> <!-- ng-model="user.name"> -->
</md-input-container>

<md-input-container class="md-primary">
  <label style="color:white">Long</label>
  <input style="color:white" ng-model="addCtrl.long" type="text"> <!-- ng-model="user.name"> -->
</md-input-container>

<div flex layout-align="end center" layout="column">
  <md-button class="md-raised md-accent" ng-click="addCtrl.location()">Use Current Location</md-button>
</div>

<md-input-container class="md-primary">
  <label style="color:white">Start Date & Time</label>
  <input style="color:white" ng-model="addCtrl.start" type="datetime-local"> <!-- ng-model="user.name"> -->
</md-input-container>
 
<md-input-container class="md-primary">
  <label style="color:white">End Date & Time</label>
  <input style="color:white" ng-model="addCtrl.end" type="datetime-local"> <!-- ng-model="user.name"> -->
</md-input-container>

<div flex layout-align="end center" layout="column">
  <md-button class="md-raised md-accent" ng-click="addCtrl.add()">Add Show</md-button>
</div>

<md-list>
  <md-list-item ng-repeat="show in upcomingShows">
    <p class="textColor">Venue: {{show.venue}}</p>
    <p class="textColor">Start Time: {{show.startTime | date : 'medium'}}</p>
    <p class="textColor">End Time: {{show.stopTime | date : 'medium'}}</p>
<!--     <p class="textColor">{{show.startTime | date:"MM/dd/yyyy 'at' h:mma"}}</p>
    <p class="textColor">End Time: {{show.endTime}}</p> -->
    <md-divider ng-if="!$last"></md-divider>
  </md-list-item>
</md-list>

<div flex layout-align="end center" layout="column">
  <md-button class="md-raised md-accent" ng-click="addCtrl.updateUpcomingShows()">Update Upcoming Shows</md-button>
</div>
