<div layout="row" layout-align="center start" flex="100" layout-wrap>

  <h3 class="md-display-2" style="color:white" layout="row" flex="100" layout-align="center">{{selectedArtist.info.name}}</h3>
  <img layout="row" layout-align="center" ng-src='{{artist.pic}}'>
<!--   <md-button class="md-fab md-accent md-raised buttonMove" ng-click="selectedArtist.go()">MAP</md-button>
  <div flex="100"></div> -->
<!--   <h4 class="md-subhead" layout="row" flex layout-align="center">{{selectedArtist.info.location}}</h4> -->
  <md-button class="md-accent md-raised" ng-click="form=true; getToken()" layout="row" flex layout-align="center">Tip {{selectedArtist.info.name}}</md-button>

</div>