<artist-display></artist-display>
<div ng-show='form'>
<a id="bottom"></a>
  <md-content  style="height: 15px; background-color:#424242; margin-left:-16px; margin-right:-16px;">
  </md-content>
  <md-content  style="height: 80%; background-color:white; margin-left:-16px; margin-right:-16px;">
    <md-whiteframe layout="column" layout-align="center center" ng-class="{error: isError, success: isPaid}">
      <!-- <span><p ng-bind="message"></p></span> -->
      <div class="dropin-container" ng-show="showDropinContainer">
        <form name="payment">
          <div ng-show="amountInput">
            <md-input-container>
              <label>Tip Amount (USD)</label>
              <input type="number" ng-model="amount">
            </md-input-container>          
          </div>
          <br>
          <div id="tip-payment"></div>
          <div ng-show="amountInput">
            <md-button class="md-raised md-accent textColor" ng-show="amount" type="submit">Tip {{amount | currency}}</md-button>
          </div>
          <div ng-hide="amountInput">
            <md-button class="md-fab" ng-click="amount=3">$3</md-button>
            <md-button class="md-fab" ng-click="amount=5">$5</md-button>
            <md-button class="md-fab" ng-click="amount=10">$10</md-button>
            <md-button class="md-fab" ng-click="amountInput=true; amount=null">Other</md-button>
          </div>
        </form>
      </div>
    </md-whiteframe>
  </md-content>
</div>
