<md-sidenav layout="column" layout-fill class="md-sidenav-left md-whiteframe-z2" style="background-color:#E8EAF6" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">

  <div append-source>
    <form class="form-inline" role="form" layout="row" layout-margin layout-align="center" ng-submit="sideButtons.click(selectedArtist); selectedArtist=''">
      <div class="form-group">
        <input type="text" class="form-control typeahead" ng-model="selectedArtist" bs-options="artist for artist in artists" placeholder="Search by Artist" bs-typeahead>
        <input type="submit" class="hiddenSubmit"/>
      </div>
    </form>
  </div>

  <div layout-align="start" layout="column">
    <md-button style="text-align:left" ng-click="changeState('home')">Home</md-button>
    <md-button style="text-align:left" ng-click="changeState('nearby')">Nearby</md-button>
  </div>
  <div flex></div>
  <div layout-align="end" layout="column">
    <p style="text-align:center">ARTIST SECTION</p>
    <md-divider></md-divider>
    <md-button style="text-align:left" ng-show="user==='0'" ng-click="changeState('login')" >Artist Login</md-button>
    <md-button style="text-align:left;" ng-show="user==='0'" ng-click="changeState('signup')" >Artist Sign Up</md-button>
    <md-button style="text-align:left" ng-show="user!=='0' && !currentShow" ng-click="startNow()">Start Show</md-button>
    <md-button style="text-align:left" ng-show="user!=='0' && currentShow" ng-click="cancelShow()">Cancel Show</md-button>
    <md-button style="text-align:left" ng-show="user!=='0'" ng-click="changeState('add')">Add Show</md-button>
    <md-button style="text-align:left" ng-show="user!=='0'" ng-click="changeState('edit')">Profile</md-button>
    <md-button style="text-align:left" class="md-raised md-accent" ng-show="user!=='0'" href='/logout'>Logout</md-button> 
  </div>
</md-sidenav>
