<md-button class="md-primary md-raised" ng-click="form=true">Tip Rock Starz</md-button>
<div ng-show='form'>
<!--   <form id="checkout" method="post" action="/checkout">
    <div id="tip-payment"></div>
      <md-button class="md-primary md-raised" type="submit">Tip</md-button>
      <md-button class="md-primary md-raised" ng-click="form=false">Cancel</md-button>
  </form> -->
    <md-toolbar>
    <div class="md-toolbar-tools">
      <span class="md-flex">Pay with credit card or PayPal!</span>
    </div>
  </md-toolbar>
  <md-content class="md-padding">
    <md-whiteframe layout="column" layout-align="center center" ng-class="{error: isError, success: isPaid}">
      <span><p ng-bind="message"></p></span>
      <div class="dropin-container" ng-show="showDropinContainer">
        <form name="payment">
          <md-input-container>
            <label>Amount $0.00</label>
            <input type="number">
          </md-input-container>
          <div id="tip-payment"></div>
          <md-button class="md-raised md-primary" type="submit">Tip Now</md-button>
        </form>
      </div>
    </md-whiteframe>
  </md-content>
</body>
</div>
